Source: dpkg-dev-el
Section: editors
Priority: optional
Maintainer: Debian Emacsen team <debian-emacsen@lists.debian.org>
Uploaders:
 David Bremner <bremner@debian.org>,
 Xiyue Deng <manphiz@gmail.com>,
Build-Depends: debhelper-compat (= 13),
 dh-elpa,
 elpa-debian-el,
 distro-info <!nocheck>,
Standards-Version: 4.7.2
Homepage: https://salsa.debian.org/emacsen-team/dpkg-dev-el
Vcs-Browser: https://salsa.debian.org/emacsen-team/dpkg-dev-el
Vcs-Git: https://salsa.debian.org/emacsen-team/dpkg-dev-el.git
Rules-Requires-Root: no
Testsuite: autopkgtest-pkg-elpa

Package: elpa-dpkg-dev-el
Architecture: all
Depends: ${elpa:Depends}, ${misc:Depends}
Recommends: emacs, distro-info
Enhances: emacs
Description: Emacs helpers specific to Debian development
 This package contains:
 .
  * debian-autopkgtest-control-mode - a helper mode for
    debian/tests/control files;
  * debian-bts-control - builds control@bugs.debian.org email messages;
  * debian-changelog-mode - a helper mode for Debian changelogs;
  * debian-control-mode - a helper mode for debian/control files;
  * debian-copyright - major mode for Debian package copyright files;
  * readme-debian - major mode for editing README.Debian files.
